# .env.example
MANAGE_PY_PATH=manage.py
DJANGO_SETTINGS_MODULE=mi_web.settings

POSTGRES_DB=CHANGE_ME_DB_NAME
POSTGRES_USER=CHANGE_ME_DB_USER
POSTGRES_PASSWORD=CHANGE_ME_SECURE_PASSWORD
DATABASE_URL=postgres://CHANGE_ME_DB_USER:CHANGE_ME_SECURE_PASSWORD@db:5432/CHANGE_ME_DB_NAME
OLLAMA_HOST=http://host.docker.internal:11434
