MANAGE_PY_PATH=manage.py
DJANGO_SETTINGS_MODULE=mi_web.settings
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL configuration for Docker (leave commented for local development with SQLite)
# DATABASE_URL=postgres://genai_user

POSTGRES_DB=DBNAME
POSTGRES_USER=USER
POSTGRES_PASSWORD=PASSWORD

# allauth email verification mode: none | optional | mandatory CHANGE THIS WHEN WE HAVE THE EMAIL SENDER CONFIGURED
ACCOUNT_EMAIL_VERIFICATION=None

# Google OAuth Configuration
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=

# OpenID Connect Configuration (prepared  for future use UPM)
OIDC_PROVIDER_ID=oidc
OIDC_PROVIDER_NAME=OpenID Connect
OIDC_SERVER_URL=
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=

# Email configuration for Gmail SMTP
DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True

EMAIL_HOST_USER=youremail@gmail.com

# Application specific password
EMAIL_HOST_PASSWORD=abcdxyzqwertpoiu

DEFAULT_FROM_EMAIL=GenAIGrader <tu_correo_real@gmail.com>